
.features-icons {
    padding-top: 7rem;
    padding-bottom: 7rem;
}
.text-center {
    text-align: center!important;
    color: black
}
.bg-light {
    background-color: #f8f9fa!important;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
*, ::after, ::before {
    box-sizing: border-box;
}
body {
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.features-icons .features-icons-item .features-icons-icon i {
    font-size:4.5rem
}
.icon-check:before {
    content: "\e080";
}
*, ::after, ::before {
    box-sizing: border-box;
}
h2 {
    color: rgb(32, 31, 31);
    font-weight: 300;
    font-family: Verdana, Geneva, Tahoma, sans-serif ;

}

p{
    color: rgb(48, 45, 45);
    font-family: Verdana, Geneva, Tahoma, sans-serif ;
    font-size: 17px;
}