
.features-icons {
    padding-top: 7rem;
    padding-bottom: 7rem;
}
.text-center {
    text-align: center!important;
}
.bg-light {
    background-color: #f8f9fa!important;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
*, ::after, ::before {
    box-sizing: border-box;
}
body {
    font-family: Lato,'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.features-icons .features-icons-item .features-icons-icon i {
    font-size:4.5rem
}
.icon-check:before {
    content: "\e080";
}
*, ::after, ::before {
    box-sizing: border-box;
}


