.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    height: 100%;
    margin:0 auto;
    align-content: center
}

.text-center {
    text-align: center!important;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}