#map-canvas
 { 
       margin-top: 3%;
     /* margin-left:10%;
      
      border: 1px solid black;; */
      /* display: inline-block; */


    
    }
#button{
        display: flex;
         justify-content: center;
         margin: 0 auto;
         margin-top: 2%
    }